<!DOCTYPE html>
<html>
<head>
<title>Admin Chat</title>
<style>
body{font-family:Poppins;background:#0b1220;color:white;padding:20px}
.box{max-width:700px;margin:auto}
.msg{margin:8px 0}
.admin{color:#00eaff}
.user{color:#00ff95}
</style>
</head>
<body>

<div class="box">
<h2>Chat – [[${employeeId}]]</h2>

<div>
    <div th:each="c : ${chats}" class="msg">
        <b th:text="${c.sender}" th:class="${c.sender=='ADMIN'}?'admin':'user'"></b> :
        <span th:text="${c.message}"></span>
    </div>
</div>
<input type="hidden" id="empId" th:value="${employeeId}">
<input id="adminMsg" placeholder="Type reply..." style="width:80%">
<button type="button" onclick="sendAdmin()">Send</button>

<script>
function sendAdmin() {
    let emp = document.getElementById("empId").value;
    let msg = document.getElementById("adminMsg").value;

    if(!msg || !emp) return;

    fetch("/chat/send", {
        method: "POST",
        headers: {"Content-Type": "application/x-www-form-urlencoded"},
        body: `employeeId=${emp}&message=${encodeURIComponent(msg)}&sender=ADMIN`
    }).then(() => {
        document.getElementById("adminMsg").value = "";
        location.reload(); // refresh history
    });
}
</script>
</div>

</body>
             
